In [1]:
import os, sys
module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import utils

In [2]:
dfh = utils.DBtable_to_df('../household.duckdb','householdClean')
dfn = utils.DBtable_to_df('../nationalities.duckdb','nationalitiesClean')

### ETL household table

In [3]:
def etl_household(dfh):
    dfh['section'] = dfh.section.astype('int32').astype('str') # (float to int) to string 
    dfh['section'] = dfh.section.apply(lambda s: '0796' + s if len(s) == 5 else '07960' + s)
    dfh = dfh.rename(columns = {'section':'Madrid_section'})  # rename in right format
    utils.df_to_DBtable(f'../integration.duckdb',dfh, 'householdClean_Madrid')

etl_household(dfh)

In [4]:

utils.DBtable_to_df('../integration.duckdb','householdClean_Madrid')

,Madrid_section,single_women_aged_16_to_64,single_men_aged_16_to_64,single_women_aged_65_or_over,single_men_aged_65_or_over,adult_women_with_one_or_more_minors,adult_men_with_one_or_more_minors,two_adults_from_16_to_64_and_without_minors,two_adults_one_at_least_65_and_without_minors,two_adults_and_one_minor,...,two_adults_over_35_and_one_adult_from_16_to_34_and_two_minors,three_adults_and_0_or_more_minors,two_adults_over_35_and_two_adults_from_16_to_34,two_adults_over_35_and_two_adults_from_16_to_34_and_one_minor,two_adults_over_35_and_two_adults_from_16_to_34_and_two_or_more_minors,four_adults_and_0_or_more_minors,five_adults_and_0_or_more_minors,fifteen_or_more_inhabitants,only_minors,Year
0,079601001,67.0,88.0,62.0,16.0,9.0,4.0,101.0,69.0,15.0,...,1.0,35.0,11.0,4.0,2.0,13.0,17.0,0.0,1.0,2019
1,079601002,99.0,89.0,36.0,15.0,5.0,3.0,84.0,29.0,11.0,...,0.0,41.0,11.0,1.0,0.0,13.0,12.0,0.0,0.0,2019
2,079601003,147.0,151.0,71.0,42.0,7.0,1.0,144.0,75.0,23.0,...,2.0,54.0,16.0,5.0,1.0,20.0,35.0,0.0,2.0,2019
3,079601004,99.0,95.0,55.0,20.0,9.0,1.0,88.0,71.0,23.0,...,4.0,43.0,14.0,1.0,0.0,15.0,17.0,1.0,0.0,2019
4,079601006,142.0,174.0,75.0,42.0,12.0,1.0,151.0,80.0,33.0,...,4.0,61.0,13.0,3.0,1.0,12.0,22.0,0.0,0.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7324,079621029,32.0,29.0,6.0,5.0,20.0,12.0,45.0,19.0,53.0,...,10.0,29.0,49.0,7.0,2.0,8.0,12.0,0.0,0.0,2018
7325,079621030,37.0,46.0,29.0,11.0,19.0,6.0,68.0,52.0,44.0,...,3.0,39.0,41.0,3.0,0.0,14.0,16.0,0.0,0.0,2018
7326,079621031,88.0,91.0,15.0,6.0,39.0,9.0,156.0,31.0,153.0,...,6.0,28.0,21.0,6.0,2.0,10.0,16.0,0.0,0.0,2018
7327,079621032,65.0,71.0,17.0,4.0,27.0,13.0,82.0,23.0,68.0,...,2.0,21.0,30.0,5.0,0.0,7.0,6.0,1.0,1.0,2018
7328,079621033,105.0,127.0,7.0,3.0,67.0,11.0,111.0,14.0,116.0,...,4.0,25.0,7.0,2.0,1.0,13.0,12.0,2.0,0.0,2018

### ETL Nationalities

In [5]:
def etl_nationalities(dfn):
    dfn = dfn[dfn['Madrid_section'].str.contains('0796', regex=False)] # extract only those related to Madrid municipality
    dfn['Madrid_section'] = dfn['Madrid_section'].str.strip() # remove extra spaces

    utils.df_to_DBtable('../integration.duckdb',dfn, 'nationalitiesClean_Madrid')

etl_nationalities(dfn)

/tmp/ipykernel_18063/4148987881.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfn['Madrid_section'] = dfn['Madrid_section'].str.strip() # remove extra spaces

In [6]:

utils.DBtable_to_df('../integration.duckdb','nationalitiesClean_Madrid')

,Afganistán,Albania,Alemania,Andorra,Angola,Antigua_y_Barbuda,Arabia_Saudita,Argelia,Argentina,Armenia,...,Uganda,Uruguay,Uzbekistán,Vanuatu,Venezuela,Vietnam,Year,Yemen,Zambia,Zimbabwe
0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,6.0,0.0,2018,0.0,0.0,0.0
1,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,3.0,0.0,0.0,9.0,0.0,2018,0.0,0.0,0.0
2,0.0,0.0,5.0,0.0,0.0,0.0,0.0,2.0,15.0,0.0,...,0.0,5.0,0.0,0.0,21.0,0.0,2018,0.0,0.0,0.0
3,0.0,0.0,7.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,...,1.0,2.0,0.0,0.0,14.0,0.0,2018,0.0,0.0,0.0
4,0.0,0.0,18.0,0.0,1.0,0.0,0.0,0.0,8.0,0.0,...,0.0,2.0,0.0,0.0,13.0,0.0,2018,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7324,0.0,0.0,2.0,0.0,5.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,2020,0.0,0.0,0.0
7325,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,19.0,0.0,2020,0.0,0.0,0.0
7326,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,40.0,0.0,2020,0.0,0.0,0.0
7327,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,8.0,0.0,2020,0.0,0.0,0.0
7328,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,1.0,0.0,0.0,22.0,0.0,2020,0.0,0.0,1.0

## Test

In [7]:
# check if clean tables are in integration.duckdb are created
utils.get_tables('../integration.duckdb')

0    nationalitiesClean_Madrid
1        householdClean_Madrid
Name: table_name, dtype: object

In [8]:
nationalites = utils.DBtable_to_df('../integration.duckdb','nationalitiesClean_Madrid')
households = utils.DBtable_to_df('../integration.duckdb','householdClean_Madrid')

# # checking if all section codes are same in both tables
nationalites['Madrid_section'].compare(households['Madrid_section'])

Empty DataFrame
Columns: [self, other]
Index: []